@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/*vars declaration*/
:root {
    --c_background: #14213d;
    --c_name: #fca311;
    --c_text: #e5e5e5;

}

.bg-primary {
    background-color: var(--c_background) !important; /* Your custom color */
  }

.text-primary {
    color: var(--c_name) !important;
}

.text-secondary {
    color: var(--c_text) !important;
}

body, html {
	height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--c_background);
    color: var(--c_text);
}
.card-body , .card{
    border: 3px solid var(--c_name);
    background-color: var(--c_background);
}

canvas {
    width: 512px;  /* Scale up display*/
    height: 512px; 
    image-rendering: pixelated; /* Prevents blurring, important af*/
    image-rendering: crisp-edges; 
    border: 1px solid #080708;
}

#canvas {
	cursor: crosshair;
    /*position: fixed;*/
}

#to_draw{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: rgb(0, 71, 4);
}

.canvas-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-menu {

    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.main-menu a {
    float: left;
    color: #E6E8E6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.main-menu a:hover {
    background-color: #FDCA40;
    color: #080708;
}

/* Add a color to the active/current link */
.main-menu a.active {
    background-color: #048A81;
    color: white;
}

footer{
    font-size: 100px;
    color: red;
    font-weight: bold;
}

/* for easier setup */
.box {
    background-color: lightblue;
    border: 1px solid blue;
    min-height: 50px;
}