<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gradient - Free Play</title>
	<script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src = "{{ url_for('static', filename = 'freeplay.js') }}"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../static/index.css">
</head>
<body>
	<audio id="horn" src="{{ url_for('static', filename = 'horn.mp3') }}" ></audio>
	<audio id="click" src="{{ url_for('static', filename = 'click.mp3') }}" ></audio>
	<audio id="cheer" src="{{ url_for('static', filename = 'cheer.mp3') }}" ></audio>
	<header class="mt-2 mb-2">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/">Free Play</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-primary" href="PlayGame">Play Game</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-primary" href="About">About</a>
			</li>
		</ul>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div class="d-flex flex-column card canvas-controls h-100">
					<div class="d-flex justify-content-around input-range">
						<label class="text-primary" for="brushSize">Brush Size:</label>
						<span class="text-primary" id="brushValue">1</span>
						<input class="form-range w-50" type="range" id="brushSize" min="1" max="4" value="1" />
					</div>
					<div class="d-flex justify-content-center input-buttons">
						<input type="button" class="btn btn-outline-warning" id="eraseButton" value="Erase">
					</div>
					<h1 class="d-flex justify-content-center text-primary" id="result"></h1>
				</div>
			</div>
			<div class="col-8">
				<canvas class="card" id="canvas" width="128" height="128">
					Sorry, your browser does not support canvas technology. <!--canvas isnt supported in every browser i guess-->
				</canvas>
			</div>
		</div>
	</div>
	
</body>
</html>