<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gradient - Game</title>
    <script type="text/JavaScript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2"></script>
    <link rel="stylesheet" href="../static/index.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src = "{{ url_for('static', filename = 'canvas.js') }}"></script>
    <script src = "{{ url_for('static', filename = 'game.js') }}"></script>
</head>
<body>
        <header>
            <div class="main-menu">
                <a href="/">Free Play</a>
                <a class="active" href="PlayGame">Play Game</a>    
            </div>
            <div id="to_draw">
                
            </div>
        </header>
        <main>
            <div class="canvas-controls">
                <label for="brushSize">Brush Size:</label>
                <input type="range" id="brushSize" min="1" max="4" value="1" />
                <span id="brushValue">1</span>
                <input type="button" id="eraseButton" value="Erase">
            </div>
            <canvas id="canvas" width="128" height="128">
                Sorry, your browser does not support canvas technology. <!--canvas isnt supported in every browser i guess-->
            </canvas>
            <br>
            <input id="skip_button" type="button" value="Skip"">
        </main>
        <footer>
            <div id="result"></div>
        </footer>
        
</body>
</html>